Mod 1/47261.pdf
.vscode/launch.json
.vscode/tasks.json
Mod 2/47262.pdf
include.docx
.DS_Store
.gitattributes
Mod 3/1_exerc_nivel_novato/instrucoes.txt
Mod 3/1_exerc_nivel_novato/1_exerc_nivel_novato
Mod 3/1_exerc_nivel_novato/1_exerc_nivel_novato.dSYM/Contents/Resources/Relocations/aarch64/1_exerc_nivel_novato.yml
Mod 3/1_exerc_nivel_novato/novato
Mod 3/1_exerc_nivel_novato/1_exerc_nivel_novato.dSYM/Contents/Info.plist
Mod 3/1_exerc_nivel_novato/1_exerc_nivel_novato.dSYM/Contents/Resources/DWARF/1_exerc_nivel_novato
Mod 3/2_exerc_nivel_avent/instrucoes.txt
Mod 3/2_exerc_nivel_avent/2_exerc_nivel_avent.dSYM/Contents/Resources/Relocations/aarch64/2_exerc_nivel_avent.yml
Mod 3/2_exerc_nivel_avent/2_exerc_nivel_avent.dSYM/Contents/Info.plist
Mod 3/2_exerc_nivel_avent/2_exerc_nivel_avent.dSYM/Contents/Resources/DWARF/2_exerc_nivel_avent
Mod 3/2_exerc_nivel_avent/2_exerc_nivel_avent
Mod 3/3_exerc_nivel_mestre/3_exerc_nivel_mestre
Mod 3/3_exerc_nivel_mestre/instrucoes.txt
Mod 3/3_exerc_nivel_mestre/3_exerc_nivel_mestre.dSYM/Contents/Info.plist
Mod 3/3_exerc_nivel_mestre/3_exerc_nivel_mestre.dSYM/Contents/Resources/DWARF/3_exerc_nivel_mestre
Mod 3/3_exerc_nivel_mestre/3_exerc_nivel_mestre.dSYM/Contents/Resources/Relocations/aarch64/3_exerc_nivel_mestre.yml
Mod 4/1_novato/1_batalha_naval
Mod 4/1_novato/1_instrucoes.txt
Mod 4/1_novato/1_batalha_naval.dSYM/Contents/Info.plist
Mod 4/1_novato/1_batalha_naval.dSYM/Contents/Resources/DWARF/1_batalha_naval
Mod 4/1_novato/1_batalha_naval.dSYM/Contents/Resources/Relocations/aarch64/1_batalha_naval.yml
Mod 4/2_avent/2_batalha_naval
Mod 4/2_avent/2_instrucoes.txt
Mod 4/2_avent/2_batalha_naval.dSYM/Contents/Info.plist
Mod 4/2_avent/2_batalha_naval.dSYM/Contents/Resources/DWARF/2_batalha_naval
Mod 4/2_avent/2_batalha_naval.dSYM/Contents/Resources/Relocations/aarch64/2_batalha_naval.yml
